@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
  margin: 0%;
  padding: 0%;
  padding-bottom: 30%;
  height: 100vh;
  
}

h1,p,h2,h3,h4,h5,h6 {
  color: rgb(0, 0, 0);
  font-family:'Courier New', Courier, monospace; 
}

.main { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: rgb(255, 255, 255);
  padding: 100px;
  border-radius: 20px;
  text-align: left;
}

input {
  position: absolute;
  left: 50%;
}

.container {
  background-color: aliceblue;
}

h5{
  position: relative;
  top: 50px;
}