{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'assets/mirasol.png' %}">
    <script src="{% static 'js/js.js' %}"></script>
    <title>Vecinos Sector Mirasol</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body class="fondo">

    <header>
        <nav class="nav_bar" style="background-color: #03045e;">
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'noticias' %}">Noticias</a>
            <a href="{% url 'servicios' %}">Servicios</a>
            <a href="{% url 'formulario' %}">Contactanos</a>
        </nav>
        <section class="info">
            <img src="{% static 'assets/Proyecto nuevo.png' %}" alt="Logo Mirasol" class="logo">
        </section>
    </header>

    <main>
        <section class="in-flex mt-3" style="background-color: #fff;">
            <h2 class="info_2 text-white" style="border-radius: 15px;">Noticias</h2>
            <section class="in-flex" style="background-color: #fff;">
                <article class="cards-containar my-4 mt-3">
                    {% for noticia in noticias %}
                    <div class="card">
                        <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="{{ noticia.titular }}">
                        <div class="card-body">
                            <h5 class="card-title">"{{ noticia.titular }}"</h5>
                            <p class="card-text">${{ noticia.breve_desc }}</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#myModal{{ noticia.id_noticia }}">
                                Info. Contacto
                            </button>
                            <div class="modal" id="myModal{{ noticia.id_noticia }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Información</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ noticia.noticia }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </article>
            </section>
        </section>
    </main>

</body>

<footer class="container-fluid text-white p-5 text-center" style="background-color: #03045e;">
    <p>&copy;Todos los derechos reservados 2024.</p>
</footer>

</html>
