{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'assets/mirasol.png' %}">
    <script src="{% static 'js/js.js' %}"></script>
    <title>Vecinos Sector Mirasol</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>

<body class="fondo">

    <header>

        <nav class="nav_bar" style="background-color: #03045e;">
            <a href="{% url 'index' %}">Inicio</a>
            <a href="{% url 'noticias' %}">Noticias</a>
            <a href="{% url 'servicios' %}">Servicios</a>
            <a href="{% url 'formulario' %}">Contactanos</a>
        </nav>

        <section class="info">
            <img src="{% static 'assets/Proyecto nuevo.png' %}" alt="Logo Mirasol" class="logo">

        </section>

    </header>

    <main>
        <section class="in-flex" style="background-color: #fff;">
            <h2 class="info_2 text-white" style="border-radius: 15px;">Servicios</h2>
            <section class="in-flex" style="background-color: #fff;">
                
                <article class="cards-containar my-4">
                    <div class="card">
                        <img src="{% static 'assets/service1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">"Venta de curanto"</h5>
                            <p class="card-text">$7000 pesos</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#myModal4">
                                Agregar al carrito
                            </button>
                            <div class="modal" id="myModal4">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Proximamente</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            Proximamente disponible
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'assets/service2.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Venta de kuchen</h5>
                            <p class="card-text">Normal: $8000 pesos <br>Mixto: $10000 pesos</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#myModal5">
                                Agregar al carrito
                            </button>
                            <div class="modal" id="myModal5">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Proximamente</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            Proximamente disponible
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="{% static 'assets/service3.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tutorias</h5>
                            <p class="card-text">Valor hr: $25000 pesos</p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#myModal6">
                                Agregar servicio
                            </button>
                            <div class="modal" id="myModal6">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Proximamente</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            Proximamente disponible
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </section>
    </main>

</body>

<footer class="container-fluid text-white p-5 text-center" style="background-color: #03045e;">
    <p>&copy;Todos los derechos reservados 2024.</p>
</footer>

</html>